{% extends "layout.html" %} {% block body %}
<section class="about" id="about">
  <h2 class="headerText">About Us</h2>
  <p class="subtext">We provide the best services to help you succeed.</p>

  <div class="card-container">
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Service Image" />
      <div class="card-content">
        <h3 class="subtext">Service Title 1</h3>
        <p class="card-subtext">
          Brief description of Service 1.
          <span class="likes">Likes: 50</span>
        </p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Service Image" />
      <div class="card-content">
        <h3 class="subtext">Service Title 2</h3>
        <p class="card-subtext">
          Brief description of Service 2.
          <span class="likes">Likes: 60</span>
        </p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Service Image" />
      <div class="card-content">
        <h3 class="subtext">Service Title 3</h3>
        <p class="card-subtext">
          Brief description of Service 3.
          <span class="likes">Likes: 30</span>
        </p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
    <div class="card">
      <img src="https://via.placeholder.com/150" alt="Service Image" />
      <div class="card-content">
        <h3 class="subtext">Service Title 3</h3>
        <p class="card-subtext">
          Brief description of Service 3.
          <span class="likes">Likes: 30</span>
        </p>
        <a href="#" class="btn">Learn More</a>
      </div>
    </div>
  </div>
</section>

{% endblock body %}
