{% extends "layout.html" %} {% block css %} <link rel="stylesheet" href={{
url_for('static', filename='css/upload.css') }} /> {% endblock css %} {% block
body %}
<div class="container upload-cont">
  <p class="title">Upload your video here....</p>
  <form action="" method="post">
    <div class="drop-zone">
      <span class="drop-zone__prompt">Drop file here or click to upload</span>
      <input type="file" name="myFile" class="drop-zone__input" />
    </div>
    <div class="text-wrapper">
      <div class="input-field">
        <input type="text" required name="email" />
        <label>Enter the name you want for your Video</label>
      </div>
      <div class="select-wrapper">
        <select class="select-field" name="frame-rate">
          <option selected value="0">Select Frame Rate</option>
          <option value="200">200</option>
          <option value="400">400</option>
          <option value="600">600</option>
          <option value="800">800</option>
          <option value="1000">1000</option>
          <option value="1200">1200</option>
          <option value="1400">1400</option>
          <option value="1600">1600</option>
          <option value="1800">1800</option>
          <option value="2000">2000</option>
        </select>
        <div class='c-filter'>
          <button type="button" class='c-filter__toggle '>Filter</button>
          <ul class='c-filter__ul'>
            <li class='c-filter__item'><input type='checkbox' id='1'><label tabindex='-1' for='1'>Option 1</label></li>
            <li class='c-filter__item'><input type='checkbox' id='2'><label tabindex='-1' for='2'>Option 2</label></li>
            <li class='c-filter__item'><input type='checkbox' id='3'><label tabindex='-1' for='3'>Option 3</label></li>
            <li class='c-filter__item'><input type='checkbox' id='4'><label tabindex='-1' for='4'>Option 4</label></li>
            <li class='c-filter__item'><input type='checkbox' id='5'><label tabindex='-1' for='5'>Option 5</label></li>
            <li class='c-filter__item'><input type='checkbox' id='6'><label tabindex='-1' for='6'>Option 6</label></li>
            <li class='c-filter__item' ><input type='checkbox' id='7'><label tabindex='-1' for='7'>Option 7</label></li>
            <li class='c-filter__item'><input type='checkbox' id='8'><label tabindex='-1' for='8'>Option 8</label></li>
            <li class='c-filter__item'><input type='checkbox' id='9'><label tabindex='-1' for='9'>Option 9</label></li>
            <li class='c-filter__item'><input type='checkbox' id='10'><label tabindex='-1'                for='10'>Option 10</label></li>
          </ul>
        </div>
      </div>
      <div class="time-duration">
        <div class="input-field">
          <input type="time" required name="duration" />
          <label>Enter the duration:</label>
        </div>
      </div>
      <div class="submit-button">
        <a class="upload-submit reset" href="/upload">Reset</a>
        <button type="submit" class="upload-submit">Start Generating</button>
      </div>
    </div>
  </form>
</div>

{% endblock body %} {% block js %} 
<script src={{
url_for('static', filename='js/upload.js') }}></script>
{% endblock js %}
